<!DOCTYPE html>
<html>
  <head>
    <title>Gifgenerator</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Shrikhand|Work+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"> <%= value %> </div>
    <% end %>
    <a href=<%= root_path %> >
      <h2>Super Secret Gif Club</h2>
    </a>
    <%= render '/layouts/nav_bar' %>
    <%= render '/gifs/gif_generator' %>
    <%= yield %>
  </body>
</html>
